/* body {
    background-color: yellow;
    color: magenta;
}

p {
    color: orange;
    text-align: center;
}

.central,
.item {
    color: green;
}

#item {
    background-color: cyan;
}

h1, h2{
    background-image: url(https://manalabs.org/images/background.jpg);
}

input[type=text] {
    font-family: Arial;
} */

/* quizz 2 */
body { 
    background-color: yellow; 
    color: blue; 
  } 
  p { color: orange; } 
  .central, .item { 
    color: green;  
  } 
  #item { 
    background-color: white; 
  }
  ul{
   color: purple;
   background-color: beige;
  }
  