div {
    border: 1px solid black; 
  }

#b {
position: relative;
height: 200px;
}

#c {
position: absolute;
top: 0px;
bottom: 0px;
right: 0px;
width: 50px;
}

@media (max-width: 1024px) {
    div {
        border: 1px solid blue; 
      }
    
    #b {
    position: relative;
    height: 768px;
    }
    
    #c {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100px;
    }
}