body {
    background-color: gray;
    font-family: Arial, 'Arial Black', Verdana, 'Trebuchet MS', Georgia, Tahoma, 'Courier New', 'Times New Roman';
}

h1 {
    color: skyblue;
    font-size: 4em;
}

h2 {
    color: lightblue;
    font-weight: bold;
}

div>p>span {
    color: greenyellow;
    font-weight: bold;
}

li, div>span {
    color: white;
    line-height: 20px;
}

a {
    color: red;
    text-decoration: none;
}

a:hover{
    color: red;
    text-decoration: underline;
}

.imgStyle{
    width: 300px;
    height: 300px;
}

footer p {
    text-align: right;
}

footer img {
    width: 90px;
    height: 40px;
}

.dropcap:first-letter {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    float: left;
    font-size: 2rem;
    line-height: 0.65;
    margin: 0.1em 0.1em 0.2em 0;
}

dl{
    margin-left: 20px;
}

dt{
    color: greenyellow;
}

dd{
    font-size: small;
}

ol {
    counter-reset: my-custom-counter 4;
    list-style: none;
}
  
ol li {
    counter-increment: my-custom-counter -1;
}
  
ol li::before {
    content: counter(my-custom-counter) '. ';   
}